{{ $width := .Get "width" | default "100%" }}
{{ $img1 := .Get "img1" }}
{{ $img2 := .Get "img2" }}
{{ $alt1 := .Get "alt1" | default "" }}
{{ $alt2 := .Get "alt2" | default "" }}
{{ $caption1 := .Get "caption1" | default "" }}
{{ $caption2 := .Get "caption2" | default "" }}

<div class="side-by-side-grid" style="max-width: {{ $width }};">
  <figure class="research-figure">
    <img src="{{ $img1 }}" alt="{{ $alt1 }}" loading="lazy">
    {{ with $caption1 }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
  <figure class="research-figure">
    <img src="{{ $img2 }}" alt="{{ $alt2 }}" loading="lazy">
    {{ with $caption2 }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
</div>
